<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Gestions des employés</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
	<!-- 	nav bar template -->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Solinum Administrateur</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/gestion_employe">Gestion des
						employés</a></li>
				<li><a href="/gestion_service">Gestion des services</a></li>
				<li><a href="/recherche_service">Recherche par service</a></li>
				<li><a href="/deux_dates">Entre deux dates</a></li>
				<li><a href="/statistiques">Statistiques</a></li>
			</ul>
		</div>
	</nav>  

		<!-- 	formulaire d'ajout des employés -->
		<form class="form-horizontal" th:action="@{/update_employe}" method="post">
			
			<!--GET ID THAT WILL USED WHEN I SUBMIT THE FORM FOR UPDATING -->
			<input type="hidden" name="idUser" th:value="${employer.idUser}">
			
			<!--NAME -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Name :</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" name="name" th:value="${employer.name}">
				</div>
			</div>

			<!--LASTNAME -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="lastname">Last name:</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="${employer.lastName}" name="lastname">
				</div>
			</div>

			<!--SALARY -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="salary">Salary :</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="${employer.salary}" name="salary">
				</div>
			</div>

			<!--SERVICE -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="service">Select service from list :</label>
				<div class="col-sm-2">
					<select class="form-control" th:name="libelleService">
						<option th:each="service : ${services}" th:text="${service.libelle}"></option>
					</select>
					Current Service:<p style="color:red;" th:text="${employer.service.libelle}"></p>
				</div>
			</div>

			<!--EMABAUCHE DATE -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="dateEmbauche" >Date
					:</label>
				<div class="col-sm-2">
					<input type="date" class="form-control" name="dateEmbauche">
					Current Date:
					<p style="color:red;" th:text="${employer.dateEmbauche}"></p>
				</div>
			</div>

			<!--LOGIN -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="login">Login :</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="${employer.login}" th:name="login">
				</div>
			</div>

			<!--PASSWORD -->
			<div class="form-group">
				<label class="control-label col-sm-2" for="password">Password :</label>
				<div class="col-sm-2">
					<input type="text" class="form-control" th:value="${employer.password}" th:name="password">
				</div>
			</div>

			<!--SUBMIT -->
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-default">Update</button>
				</div>
			</div>
		</form>
</body>
</html>